/* ================= HEADER ================= */

.main-header {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  position: relative;
}

/* مساحة فاضية يسار */
.header-spacer {
  width: 40px;
}

/* اللوجو بالنص */
.logo {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 150px;
  height: auto;
}

/* المينيو يمين */
.menu-container {
  width: 40px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 1000;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.menu-icon:hover {
  transform: scale(1.2);
  color: #00bfff;
}

/* القائمة */
.dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  list-style: none;
  background: #333;
  border-radius: 8px;
  display: none;
  overflow: hidden;
}

.dropdown.show {
  display: block;
}

.dropdown li a {
  display: block;
  padding: 12px 20px;
  color: white;
}

.dropdown li a:hover {
  background: #444;
}
@media (max-width: 768px) {
  .logo img {
    width: 120px;
  }

  .menu-icon {
    font-size: 26px;
  }
}

@media (max-width: 480px) {
  .logo img {
    width: 100px;
  }

  .menu-icon {
    font-size: 22px;
  }
}
