.thank-you-wrapper {
  text-align: center;
  padding: 50px;
  background-color: #009acd;
  color: white;
  font-family: 'Arial', sans-serif;
}

.thank-you-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.thank-you-text {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.thank-you-link {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.thank-you-link:hover {
  background-color: white;
  color: #009acd;
}
